# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=dba8a2fb64b9341d5181496cad610e8c6b36c6e56e27d463b4c49cb79132bd0a1499d73d3b6b4425fa3456d287bf4cfd1262c40532441342224a949c43342a86
REDIS_URL=redis://localhost:6379/6
PORT=3000
